$body-font-family: 'Goudy Bookletter 1911', serif;

@import "foundation-sites/scss/foundation";
@include foundation-everything(true);

@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');

.container {
  @include xy-grid-container;
}

.page-content {
  margin-top: 30px;
}

section {
  margin-bottom: 50px;
}

.hero-img {
  width: 60%;
  margin-top: 30px;
}

.meta {
  font-size: 0.8em;
  color: #999;
}